#blog_sidebar {
    width: 100%;
    float: left;
}

#blog_sidebar .widget-title {
    margin-top: 32px;
}

form.searchform {
    padding: 0;
    position: relative;
    margin-bottom: 0px;
}

form.searchform input[type="text"] {
    width: 100%;
    margin-bottom: 15px;
    background-color: #fff;
    height: 43px;
    color: rgba(125, 121, 118, 0.5);
    font-size: 14px;
    font-weight: 300;
    padding: 8px 44px 8px 15px;
    border: 3px solid rgba(90, 74, 59, 0.60);
}

form.searchform button[type="submit"] {
    background: url(../../images/search-icon.png) no-repeat center center;
    position: absolute;
    right: 0px;
    bottom: 15px;
    width: 44px;
    height: 44px;
    border: none;
}

form.searchform input[type="text"]::-moz-placeholder,
form.searchform input[type="email"]::-moz-placeholder,
form.searchform input[type="phone"]::-moz-placeholder,
form.searchform textarea::-moz-placeholder {
    color: rgba(125, 121, 118, 0.5);
    font-weight: 400
}

form.searchform input[type="text"]:-ms-input-placeholder,
form.searchform input[type="email"]:-ms-input-placeholder,
form.searchform input[type="phone"]:-ms-input-placeholder,
form.searchform textarea:-ms-input-placeholder {
    color: rgba(125, 121, 118, 0.5);
    font-weight: 400/* IE 10+ */
}

form.searchform input[type="text"]::-webkit-input-placeholder,
form.searchform input[type="email"]::-webkit-input-placeholder,
form.searchform input[type="phone"]::-webkit-input-placeholder,
form.searchform textarea::-webkit-input-placeholder {
    color: #463f4a;
    font-weight: 500/* Chrome/Opera/Safari */
}

h2.blog-header {
    font-size: 22px;
    font-weight: 600;
    border-bottom: 1px solid #87786a;
    color: #87786a;
    position: relative;
    padding: 12px 0 12px;
    line-height: 20px;
    text-transform: capitalize;
}

.blog-tit {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase
}

#blog_sidebar .box {
    margin-top: 32px;
    float: left;
}

#blog_sidebar .box .img-part {
    float: left;
    width: 30%;
}

#blog_sidebar .box .img-part img {
    width: 100%;
}

#blog_sidebar .box .txt-part {
    padding-left: 18px;
    float: left;
    width: 70%;
}

#blog_sidebar .box .txt-part .blog-tit {
    font-weight: 800;
    color: #5a4a3b;
    font-size: 18px;
    line-height: 20px;
    text-transform: inherit;
}

#blog_sidebar .box .txt-part .blog-tit:hover {
    color: #947f65;
}

#blog_sidebar .box .blog-date {
    color: #7d7976;
    font-size: 13px;
    font-weight: 500;
    padding: 10px 0 0 0;
    display: inline-block;
}

#blog_sidebar .box .blog-date i:before {
    font-size: 12px;
    margin: 0 8px 0 0;
}

#blog_sidebar .post-cetegory {
    float: left;
}

#blog_sidebar .post-cetegory ul {
    float: left;
    padding-top: 35px;
}

#blog_sidebar .post-cetegory ul li {
    padding-left: 30px;
    background: url(../../images/blog-list-icon.png) left 4px no-repeat;
}

.recent-post ul li {
    display: inline-flex;
    float: left;
    padding-bottom: 25px;
}

.recent-post ul li .f-icon {
    width: 20%;
}

.recent-post ul li .f-icon p {
    color: #947f65;
    line-height: normal;
    position: relative;
    font-size: 20px;
    overflow: hidden;
    padding: 0 0 10px;
}

.recent-post ul li .f-icon p:before {
    position: absolute;
    content: '';
    z-index: 1;
    height: 34px;
    background: #dfd8d0;
    width: 34px;
    top: 8px;
    left: 8px;
    border-radius: 50%;
    z-index: -1;
}

.recent-post ul li .recent-post-header {
    width: 80%;
}

.recent-post ul li .recent-post-header .blog-tit {
    color: #463f4a;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 5px;
    font-weight: 400;
}

.recent-post .recent-post-header p {
    line-height: 26px;
    color: #947f65;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0
}

.post-cetegory ul li {
    display: inline-flex;
    float: left;
    padding-bottom: 15px;
    width: 100%;
    text-align: left;
}

.post-cetegory ul li .f-icon {
    width: 10%;
}

.post-cetegory .post-cetegory-header {
    width: 90%;
}

.post-cetegory .post-cetegory-header {
    color: #847f86;
    font-size: 14px;
    font-weight: 400;
}

.post-cetegory .post-cetegory-header a {
    color: #847f86;
}

.post-cetegory .post-cetegory-header a:hover {
    color: #947f65;
}

.post-cetegory ul li .f-icon p {
    color: #947f65;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    margin-bottom: 0;
}

.post-cetegory ul li .f-icon p:before {
    position: absolute;
    content: '';
    z-index: 1;
    height: 14px;
    background: #dfd8d0;
    width: 14px;
    top: 6px;
    left: 6px;
    border-radius: 50%;
    z-index: -1;
}

.post-tag ul {
    display: inline-block;
    padding-top: 35px;
}

.post-tag ul li {
    padding-right: 10px;
    padding-bottom: 10px;
    float: left;
    display: block;
}

.post-tag ul li a {
    color: #7d7976;
    font-size: 13px;
    line-height: 32px;
    font-weight: 600;
    padding: 0px 11px;
    background: transparent;
    text-transform: uppercase;
    border: 1px solid #b0aaa5;
    display: inline-block;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.post-tag ul li a:hover {
    background: #88c442;
    border-color: #88c442;
    color: #fff;
}

.blog-nav {
    margin: 60px 0 0;
}

.blog-nav .pagination {
    display: inline-block;
    margin: 0;
}

.blog-nav .pagination a {
    color: #463f4a;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.blog-nav .pagination a i {
    margin-top: 10px;
}

.blog-nav .pagination a.active {
    color: #c9b199;
}

.blog-nav .pagination a:hover {
    color: #c9b199;
}

.blog .col-md-4.col-sm-6.col-xs-12 {
    margin-bottom: 80px;
}

.blog .blog-list figure img {
    width: 100%;
}

.blog .blog-info {
    float: left;
    padding-top: 42px;
    width: 100%;
    text-align: left;
}

.blog .blog-info ul {
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 13px;
    padding-bottom: 20px;
}

.blog .blog-info ul li {
    float: left;
    line-height: 13px;
    position: relative;
    margin-right: -4px;
    padding: 0 13px;
}

.blog .blog-info ul li:first-child {
    padding-left: 0;
}

.blog .blog-info ul li:last-child {
    padding-right: 0;
}

.blog .blog-info ul li a {
    color: #7d7976;
    font-weight: 500;
    font-size: 13px;
}

.blog .blog-info ul li a:hover {
    color: #5a4a3b;
}

.blog .blog-info ul li:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 13px;
    width: 1px;
    background: #aca49d;
}

.blog .blog-info ul li:last-child:after {
    display: none;
}

.blog .blog-info ul li a i:before {
    font-size: 12px;
    margin: 0 7px 0 0;
}

.blog .blog-info h2,
.blog-info h2 a {
    margin: 0;
    font-weight: 900;
    font-size: 23px;
    color: #5a4a3b;
    text-transform: inherit;
}

.blog-info h2 a:hover {
    color: #7d7976
}

.blog .blog-info .rd-mr {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    color: #549843;
    line-height: 31px;
    padding: 0 25px;
    border: 2px solid #8bcf79;
    display: inline-block;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -moz-border-radius: 30px;
    margin-top: 25px;
    transition: 0.3s width ease-in;
    -moz-transition: 0.3s width ease-in;
    -webkit-transition: 0.3s width ease-in;
}

.blog .blog-info .rd-mr:hover {
    background: #8bcf79;
    color: #fff;
}

.blog .col-md-4.col-sm-12.col-xs-12 {
    margin-bottom: 80px;
}

.blog_sidebar_widget {
    text-align: left;
}


/* pagination */

.blog .pagination a,
.blog .pagination a.right,
.blog .pagination a.left {
    color: #a6a39f;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 17px 0;
}

.blog .pagination a.active,
.blog .pagination a:hover {
    background: #88c442;
    color: #fff;
}

.blog .pagination a.right:hover,
.blog .pagination a.left:hover {
    background: #88c442;
    color: #fff;
}

.blog .pagination a.left i {
    margin: 0;
}

.icon-angle-right::before {
    font-size: 18px;
}

.blog .pagination a.left i:before {
    margin: 0;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.blog .pagination a.left i:before {
    margin: 0 6px 0 0;
}

.blog .pagination a.right i:before {
    margin: 0 0 0 6px;
}

.blog .pagination a.left {
    margin-right: 10px;
    text-transform: capitalize;
    font-weight: 500;
}

.blog .pagination a.right {
    margin-left: 10px;
    text-transform: capitalize;
    font-weight: 500;
}