.checkout-page {
    padding-bottom: 150px;
}

.checkout-page form {
    padding: 20px 0
}

.checkout-page form .checkout-page form::placeholder {
    color: #898785 !important;
    opacity: 1 !important;
}

.checkout-page form::-webkit-placeholder {
    color: #898785 !important;
    opacity: 1 !important;
}

.checkout-page form::-moz-placeholder {
    color: #898785 !important;
    opacity: 1 !important;
}

.checkout-info {
    padding: 18px 0 40px;
    float: left
}

.checkout-form {
    float: left;
    width: 100%;
}

.checkout-info {
    border-bottom: 1px solid #f1f1f1;
}

.checkout-head {
    color: #5a4a3b;
    font-size: 22px;
    font-weight: 600
}

.checkout-page p {
    color: #7d7976;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    float: left;
}

input[type="text"].form-control,
input[type="password"].form-control,
input[type="name"].form-control,
input[type="email"].form-control,
input[type="date"].form-control,
input[type="tel"].form-control,
select.form-control {
    background: #f1f1f1;
    height: 52px;
    width: 100%;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 0 22px;
    color: #898785;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 17px;
    border: none;
    box-shadow: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -webkit-appearance: none;
    font-weight: 400;
    border: none;
}

textarea:focus {
    outline: none;
}

textarea.form-control {
    background: #f1f1f1;
    width: 100%;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 10px 15px;
    color: #4a4642;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 17px;
    border: none;
    box-shadow: none;
}

select.form-control option {
    color: #4a4642;
    font-size: 14px;
}

.checkout-info .checkout-form {
    float: left;
    width: 100%;
    padding: 20px 0;
}

.checkout-info button[type="submit"] {
    text-align: right;
    border: 1px solid #549843;
    background: #fff;
    height: 52px;
    background: #549843;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px 80px;
    border-radius: 5px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.checkout-info button[type="submit"]:hover,
.checkout-info button[type="submit"]:focus {
    background: #fff;
    color: #549843
}

.checkout-form label {
    font-weight: 400;
    padding-left: 15px;
    margin-bottom: 34px;
    color: #80807fcc;
    font-size: 14px;
}

.checkout-page input[type="checkbox"],
.checkout-page input[type="radio"] {
    margin: 0 8px 0 0;
}

.checkout-order-table {
    float: left;
    width: 100%;
    padding: 20px 0 0 6px;
}

.checkout-order-table table {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #4a4642;
}

.checkout-order-table table tr td,
.checkout-order-table table tr th {
    padding: 16px 25px;
}

.checkout-order-table .th-head {
    background: #f1f1f1;
    font-size: 15px;
    color: #4a4642;
    opacity: 0.70;
    font-weight: 500;
}

.checkout-order-table tbody {
    color: #4a4642;
    font-size: 14px;
    font-weight: 400
}

.checkout-order-table .cart-subtotal {
    background: #e0dad5;
}

.checkout-order-table .cart-total {
    background: #6e645a;
    color: #fff;
}

.checkout-order-table .cart-shopping {
    background: #cdc8c3;
}

.checkout-order-table tbody tr,
.checkout-order-table thead {
    border: 1px solid #dddcdc;
}

.form-control:focus {
    box-shadow: none;
}

.checkout-form .selectdiv {
    width: 100%;
    height: 52px;
    margin-bottom: 17px;
}

.checkout-form .selectdiv:after {
    content: '\f107';
    position: absolute;
    top: 0;
    right: 15px;
    font-family: "fontello";
    font-size: 16px;
    height: 52px;
    background: #f1f1f1;
    width: 25px;
    padding: 16px 0;
}

.checkout-form label {
    width: 100%;
    display: inline-block;
    line-height: 20px;
}

.checkout-form input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}

.checkout-form input[type="checkbox"]+span::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 19px;
    height: 19px;
    margin: -2px 8px 0 0;
    border: solid 1px #424242;
    line-height: 14px;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
}

.checkout-form input[type="checkbox"]:checked+span::before {
    content: "\e833";
    font-size: 10px;
    font-family: 'fontello';
    color: #424242;
}

.coupon {
    float: left;
    width: 100%;
    background: #d9d5d2;
    padding: 30px 40px 25px;
    margin-bottom: 44px;
}

.coupon label {
    font-size: 24px;
    color: #5a4a3b;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0;
    line-height: 52px;
}

.coupon .coupon_text {
    line-height: 46px;
    border: 3px solid #fff;
    background: transparent;
    padding: 0 15px;
    width: 100%;
}

.coupon .coupon-btn {
    padding: 0 80px;
    width: 100%;
    background: #5a4a3b;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 46px;
    border: 3px solid transparent;
}

.coupon .coupon-btn:hover {
    background: #549843;
}