.fress-section .container {
    padding: 20px 9px 50px 9px;
}

.fress-section .row {
    margin-left: -9px;
    margin-right: -9px;
}

.fress-section .container [class*='col-'] {
    padding: 0 9px;
}


/* Begin lpart */

.fress-section .lpart .bg {
    height: 500px;
    background-size: cover;
}

.my-account {
    float: left;
    width: 100%;
    height: 50px;
}

.my-account .avatar {
    float: left;
    width: 30%;
}

.my-account .avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.my-account .content {
    float: left;
    width: 70%;
    padding: 17px 0 5px 10px;
}

.my-account .content p {
    float: left;
    margin: 0 !important;
    font-size: 17px;
    font-weight: 600;
}

.my-account .content a:hover {
    color: #5a4a3b;
}

.sidebar-acc {
    border-top: 1px solid #d6d6d6;
    float: left;
    margin-top: 30px;
    width: 100%;
    height: 500px;
}

.sidebar-acc .sidebar {
    padding-top: 30px;
}

.sidebar-acc .sidebar li {
    padding-bottom: 15px;
    width: 100%;
    float: left;
}

.sidebar-acc .sidebar li button {
    border: none;
    background: none;
    float: left;
}

.sidebar-acc .sidebar li button.btn {
    font-weight: 500;
    color: #6e6e6e;
    font-size: 15px;
    background: transparent;
    border: none;
    line-height: 14px;
    padding: 0 18px;
}

.sidebar-acc .sidebar li button.btn.active {
    box-shadow: none;
    color: #549843;
}

.sidebar-acc .sidebar li button.btn:focus {
    color: #549843;
    outline: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.sidebar-acc .sidebar li i {
    padding-right: 10px;
    font-size: 18px;
    font-weight: 500;
    float: left;
    color: #6e6e6e;
}

.sidebar-acc .sidebar li a:hover {
    color: #5a4a3b;
}


/* End lpart */


/* Begin rpart */

.fress-section .rpart .bg {
    height: 500px;
    /* background: #d6d6d6; */
    background-size: cover;
}

.fress-section .rpart .filterDiv {
    display: none;
    position: relative;
    width: 100%;
    float: left;
    padding-bottom: 25px;
    margin-bottom: 42px;
    transition: 0.3s all ease-in;
    -moz-transition: 0.3s all ease-in;
    -webkit-transition: 0.3s all ease-in;
}


/* My account */

.fress-section .rpart .my_account {
    /* background: aquamarine; */
}

.fress-section .rpart .my_account .content {
    margin: 0 20px;
    height: 80.5px;
    border-bottom: 1px solid #d6d6d6;
}

.fress-section .rpart .my_account .content p {
    padding: 20px 0;
    color: #6e6e6e;
    font-size: 25px;
    font-weight: 600;
    float: left;
}

.fress-section .rpart .my_account .info {
    padding: 15px 20px;
}

.fress-section .rpart .my_account .info .my-info {
    padding: 0 30px;
    width: 70%;
    float: left;
}

.account-form button[type="submit"] {
    border: 1px solid #549843;
    background: #fff;
    height: 40px;
    background: #549843;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 5px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-top: 10px auto;
    width: 20%;
    font-weight: 600;
}

.account-form button[type="submit"]:hover,
.account-form button[type="submit"]:focus {
    background: #fff;
    color: #549843;
}

.fress-section .rpart .my_account .info .my-avatar {
    width: 30%;
    height: auto;
    float: left;
    border-left: 1px solid #d6d6d6;
}

.fress-section .rpart .my_account .info .my-avatar .avatar {
    padding: 0 50px;
}

.fress-section .rpart .my_account .info .my-avatar .edit-avatar {
    margin: 10px 0;
}

.fress-section .rpart .my_account .info .my-avatar .edit-avatar .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.fress-section .rpart .my_account .info .my-avatar .edit-avatar .inputfile+label {
    border: 1px solid #549843;
    background: #fff;
    height: 40px;
    background: #549843;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 20px auto;
    width: 80%;
    font-weight: 600;
}

.fress-section .rpart .my_account .info .my-avatar .edit-avatar .inputfile:focus+label,
.fress-section .rpart .my_account .info .my-avatar .edit-avatar .inputfile+label:hover {
    background: #fff;
    color: #549843;
}

.my-avatar .edit-avatar button[type="submit"] {
    border: 1px solid #549843;
    background: #fff;
    height: 40px;
    background: #549843;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-top: 10px auto;
    width: 80%;
    font-weight: 600;
}

.my-avatar .edit-avatar button[type="submit"]:hover,
.my-avatar .edit-avatar button[type="submit"]:focus {
    background: #fff;
    color: #549843;
}


/* Order */

.fress-section .rpart .order {
    background: #d6d6d6;
}

.fress-section .rpart .order .sidebar li {
    width: 20%;
    float: left;
}

.fress-section .rpart .order .sidebar li button {
    width: 100%;
}

.fress-section .rpart .order .sidebar button {
    border: none;
    background: none;
    float: left;
}

.fress-section .rpart .order .sidebar li button.btn.active,
.fress-section .rpart .order .sidebar li button.btn:focus {
    outline: none;
}


/* Notification */

.fress-section .rpart .notification {
    background: #5a4a3b;
}


/* End rpart */