.responsive-tabs-wrapper,
.responsive-tabs {
    width: 100%;
    float: left;
}

.responsive-tabs__list {
    margin: 0;
    line-height: 1;
    padding: 0;
    float: left;
    width: 100%;
    position: relative;
    border: none;
    padding: 0 12px 6px;
}

.responsive-tabs__list:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 8px;
    background: #549843;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.responsive-tabs__list__item {
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid transparent;
    padding: 18px 36px;
    background: transparent;
    color: #463f4a;
    font-size: 14px;
    line-height: 17px;
    font-size: 17px;
    float: left;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: -1px;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid transparent;
}

.responsive-tabs__list__item--active,
.responsive-tabs__list__item--active:hover,
.responsive-tabs__list__item:hover,
.responsive-tabs__heading:focus,
.responsive-tabs__list__item:focus {
    border: 1px solid #549843;
    border-bottom: 1px solid transparent;
    background: transparent;
    color: #549843;
    outline: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.responsive-tabs__panel {
    float: left;
    width: 100%;
    padding: 48px 0;
    margin: 0;
}

.responsive-tabs__panel:after {
    content: '';
    clear: both;
}

.responsive-tabs__panel {
    text-align: left;
    color: #4a4642;
}

.responsive-tabs__panel p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 24px;
}

.responsive-tabs__panel h3 {
    color: #88c442;
    position: relative;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 38px;
    padding-bottom: 20px;
}

.responsive-tabs__panel h3:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: url(../images/tit-bottom.jpg)left top no-repeat;
}

.mar-btm-60 {
    margin-bottom: 60px;
}

.responsive-tabs__panel ul.list-view {
    padding-bottom: 30px;
}

.responsive-tabs__panel ul.list-view li {
    padding-left: 28px;
    font-size: 14px;
    color: #4a4642;
    font-weight: 600;
    line-height: 14px;
    background: url(../images/sidebar-list-icon.png) left top no-repeat;
    padding-bottom: 22px;
}

.responsive-tabs__panel .product-review-form .btn-primary {
    background: #549843;
}

.responsive-tabs__panel .product-review-form .btn-primary:hover {
    background: #f1f1f1;
    color: #000;
}

.sp-thumbs a {
    margin: 0 6px !important;
    border: 1px solid #e3e3e3 !important;
}

.single-post-section {
    padding-bottom: 135px;
}

.product-single-meta {
    float: left;
    padding-top: 50px;
    width: 100%;
    text-align: left;
}

.product-single-meta .product-name {
    font-size: 30px;
    text-transform: capitalize;
    color: #4a4642;
    font-weight: 500;
    position: relative;
    padding-bottom: 14px;
    line-height: 30px;
}

.product-single-meta .product-name:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 46px;
    height: 1px;
    background: #549843;
}

.product-single-meta .ratting {
    float: left;
}

.product-single-meta .ratting ul {
    float: left;
    margin: 18px 0 0 0;
}

.product-single-meta .ratting ul li {
    float: left;
    margin: 0 2px;
}

.product-single-meta .ratting span {
    float: left;
    margin: 18px 0 0 12px;
    font-size: 12px;
    font-weight: 500;
    color: #4a4642;
}

.product-single-meta .price {
    float: left;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
}

.product-single-meta .price .new-price {
    font-weight: 600;
    color: #4a4642;
    font-size: 30px;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
}

.product-single-meta .price .old-price {
    display: inline;
    font-weight: 400;
    font-size: 15px;
    color: #9c9792;
    line-height: 15px;
    vertical-align: middle;
    margin-top: -12px;
}

.product-single-meta .availablity {
    float: left;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: #4a4642;
    margin-bottom: 45px;
}

.product-single-meta .cart-process {
    float: left;
    width: 100%;
    padding-bottom: 64px;
}

.product-single-meta .cart-process .extra {
    float: left;
}

.product-single-meta .cart-process .extra ul {
    float: left;
    padding-left: 12px;
}

.product-single-meta .cart-process .extra ul li {
    padding: 0 3px;
}

.product-single-meta .cart-process .extra ul li a {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 1px solid #e0e0e0;
    display: inline-block;
    color: #b5b5b5;
}

.product-single-meta .cart-process .extra ul li a:hover {
    color: #549843;
    background: #e0e0e0;
}

.product-single-meta .cart-process .extra ul li a i:before {
    margin: 0;
    line-height: 42px;
    width: 42px;
}

.product-single-meta .qty {
    float: left;
    margin-right: 10px;
}

.product-single-meta .qty .input-group-btn {
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 8px;
}

.product-single-meta .qty .input-group-btn:first-child {
    margin-left: 0;
}

.product-single-meta .qty .input-group-btn:last-child {
    margin-right: 0;
}

.product-single-meta .qty .input-group-btn .btn {
    width: 40px;
    height: 40px;
    line-height: 40px;
    float: left;
    background: transparent;
    border: 1px solid #dfdfdf;
    padding: 0;
    border-radius: 4px;
    color: #b5b5b5;
    font-size: 28px;
}

.qty .input-number {
    width: 40px !important;
    height: 40px !important;
    background: transparent !important;
    border: 1px solid #dfdfdf !important;
    text-align: center;
    padding: 0 !important;
    line-height: 40px !important;
    font-size: 20px !important;
    float: left;
    border-radius: 4px !important;
    color: #b5b5b5 !important;
    margin: 0 !important;
}

.product-single-meta .qty .input-group-btn .btn.focus,
.product-single-meta .qty .input-group-btn .btn:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.product-single-meta .cart {
    float: left;
}

.product-single-meta .cart .cart-btn {
    line-height: 40px;
    font-size: 10px;
    font-weight: 700;
    color: #ffffff;
    padding: 0 44px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    background: #549843;
    text-transform: capitalize;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    transition: 0.3s all ease-in;
    -moz-transition: 0.3s all ease-in;
    -webkit-transition: 0.3s all ease-in;
}

.product-single-meta .cart .cart-btn:hover {
    background: #dfdfdf;
    color: #4a4642;
}

.product-single-meta .availablity span {
    color: #88c442;
}

.product-single-meta .product-information {
    float: left;
    width: 100%;
    font-size: 12px;
    color: #4a4642;
    font-weight: 500;
    padding-bottom: 40px;
    margin-bottom: 36px;
    border-bottom: 1px solid #ddead9;
}

.tag-box {
    float: left;
    width: 100%;
}

.tag-box .tag-row {
    float: left;
    width: 100%;
    padding-bottom: 30px;
    text-align: left;
}

.tag-box .tag-row:last-child {
    padding-bottom: 0;
}

.tag-box .tag-row span.dots {
    float: left;
    color: #4a4642;
    padding-right: 4px;
}

.tag-box .tag-label {
    font-weight: 600;
    font-size: 13px;
    color: #4a4642;
    text-transform: uppercase;
    width: 106px;
    float: left;
}

.tag-box .tag-label-value {
    font-weight: 600;
    font-size: 13px;
    color: #4a4642;
    text-transform: uppercase;
    float: left;
    text-transform: none;
}

.tag-box .category-value {
    color: #88c442;
}

.tag-box .tag-label-value .tag-btn {
    float: left;
    margin: 0 4px;
    color: #898989;
    line-height: 20px;
    background: #ebebeb;
    display: inline-block;
    text-transform: capitalize;
    font-weight: 500;
    padding: 0 12px;
    font-size: 11px;
}

.tag-box .tag-label-value .tag-btn:last-child {
    margin-right: 0;
}

.tag-box .tag-label-value .tag-btn:first-child {
    margin-left: 0;
}

.tag-box .social {
    float: left;
}

.tag-box .social li {
    float: left;
    padding: 0 6px;
}

.tag-box .social li a {
    float: left;
    color: #9b9997;
}

.tag-box .social li a:hover {
    color: #549843;
}

.tag-box .social li a i {
    float: left;
    font-size: 12px;
}

.tag-box .social li a i:before {
    margin: 0;
}

.form-group {
    margin-bottom: 20px;
}

.responsive-tabs .form-control {
    line-height: 45px;
    border: 1px solid #ddd;
    box-shadow: none;
}


/* Begin related-products */

.related-products .tit h2 {
    position: relative;
    width: 100%;
    text-align: left;
    color: #549843;
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 35px;
    padding-top: 8px;
    padding-left: 65px;
    margin: 0;
}

.related-products .tit h2:before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: url(../images/title-decorator.png)left top no-repeat;
    height: 54px;
}

.related-products .tit h2:after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: #549843;
    height: 8px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.related-product-slider .wrapper .contain-wrapper {
    padding: 0 20px 38px;
    min-height: 198px;
}

.related-product-slider .wrapper .contain-wrapper .tit {
    font-size: 16px;
    line-height: 1.2;
    color: #4a4642;
    font-weight: 600;
    padding-bottom: 24px;
}

.related-product-slider .wrapper .contain-wrapper .price {
    width: 100%;
    float: left;
    padding-bottom: 25px;
}

.related-product-slider .wrapper .contain-wrapper .new-price {
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    color: #4a4642;
    line-height: 30px;
}

.related-product-slider .wrapper .contain-wrapper .old-price {
    display: inline;
    font-weight: 200;
    font-size: 14px;
    color: #f53636;
    line-height: 30px;
    vertical-align: middle;
    margin-top: -12px;
}

.related-product-slider .wrapper .contain-wrapper .btn-part {
    position: relative;
    display: inline-block;
}

.related-product-slider .wrapper .contain-wrapper .cart-btn {
    line-height: 33px;
    border: 2px solid #8bcf79;
    font-weight: 700;
    font-size: 13px;
    color: #549843;
    text-transform: uppercase;
    padding: 0 20px 0 34px;
    display: inline-block;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}

.related-product-slider .wrapper .contain-wrapper i {
    position: absolute;
    top: 6px;
    left: -10px;
    font-size: 24px;
    background: #fff;
    color: #a7cf47;
}

.related-product-slider .wrapper .wrapper-box-hover {
    z-index: 99;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    ;
    opacity: 1;
    background: rgba(167, 207, 71, 0.8);
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    cursor: pointer;
}

.related-product-slider .wrapper:hover .wrapper-box-hover {
    transform: scale(1);
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    text-align: center;
}

.related-product-slider .wrapper .text ul li {
    display: inline-block;
}

.related-product-slider .wrapper .text ul li a {
    width: 46px;
    height: 46px;
    margin: 0 7px;
    border-radius: 50%;
    background: #5a4a3b;
    display: block;
    color: #fff;
}

.related-product-slider .wrapper .text ul li a:hover {
    background: #fff;
    color: #5a4a3b;
}

.related-product-slider .wrapper .text ul li a i:before {
    line-height: 46px;
    margin: 0;
}

.related-product-slider .owl-nav.disabled {
    display: block;
}

.related-product-slider.owl-theme .owl-nav .owl-prev i:before {
    transform: rotate(180deg);
}

.related-product-slider.owl-theme .owl-nav .owl-prev {
    left: inherit !important;
    top: -70px;
    background: none;
    border: none;
    right: 0;
    right: 40px;
}

.related-product-slider.owl-theme .owl-nav .owl-next {
    left: inherit;
    top: -70px;
    background: none;
    border: none;
    right: 0 !important;
}

.related-product-slider.owl-theme .owl-nav [class*=owl-] i:before {
    color: #d6d6d6;
}

.related-product-slider.owl-theme .owl-nav [class*=owl-]:hover i:before {
    color: #698c17;
}


/* Begin related-products */
