.whishlist-page {
    padding: 72px 0 180px
}

.table {
    border: 1px solid #dbdbdb;
    margin: 0;
}

.table tr {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.09);
}

.table>tbody>tr>td.total .add-to-cart {
    text-transform: uppercase;
}

.table>tbody>tr>td.total .add-to-cart:hover {
    color: #549843;
}

.table>thead>tr>th {
    border: none;
    background: #f1f1f1;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: #5a4a3b;
    text-align: left;
    vertical-align: middle;
    padding: 0 30px;
    line-height: 58px;
}

.table>tbody>tr>td {
    padding: 38px 30px;
    vertical-align: middle;
    text-align: left;
    font-size: 14px;
    color: #4a4642;
    font-weight: 500;
}

.table>tbody>tr>td a,
.table>tbody>tr>td a i:before {
    color: #4a4642;
}

.table>tbody>tr>td.total {
    font-weight: 600;
}

.table>tbody>tr>td.cancle {
    font-size: 12px;
}
