/* ------ Begin Nav ------ */

.nav-pc {
    width: 90%;
    margin: 0 auto;
    height: 180px;
    position: relative;
}

.nav-pc .logo {
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    position: relative;
}

.logo .item {
    width: 60px;
    height: 60px;
    position: relative;
    transition: all 0.5s;
    background-image: url(../images/icon-bg.png);
    background-repeat: no-repeat;
}

.logo .item:hover {
    background-image: url(../images/icon-bg-1.png);
}

.logo .icon-item__small {
    position: absolute;
    top: 14px;
    left: 15px;
    font-size: 24px;
    color: #fff;
}

.nav-mobile {
    width: 60px;
    height: 60px;
    transition: all 0.5s;
    background-image: url(../images/icon-bg.png);
    background-repeat: no-repeat;
}

.nav-mobile:hover {
    background-image: url(../images/icon-bg-1.png);
}

.nav-mobile .icon-item__small {
    position: absolute;
    top: 14px;
    left: 15px;
    font-size: 24px;
    color: #fff;
}

.logo .amount {
    text-align: center;
    font-weight: bold;
    width: 24px;
    height: 24px;
    background: #928a83;
    border-radius: 50%;
    color: #fff;
    line-height: 24px;
    font-size: 11px;
    font-weight: 600;
    position: absolute;
    top: -8px;
    right: 3px;
}

.logo .img-logo {
    width: 120px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo .icon-nav {
    display: flex;
}

.logo .item-left {
    position: absolute;
    top: 30px;
    left: 0;
}

.logo .item-right {
    position: absolute;
    top: 30px;
    display: flex;
    right: 0;
}

.logo .item {
    margin-right: 10px;
}


/* ------ End Nav ------ */


/* ------------------------ */


/* ------ Begin Banner ------ */

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    vertical-align: middle;
}


/* ------ End Banner ------ */


/* ------------------------ */


/* ------ Begin Table ------ */

.table-main {
    width: 90%;
    padding: 80px 0px 0px 0px;
    position: relative;
    margin: 0 auto;
}

.table-main .table-main-container .container-main {
    background: #549843;
    width: 100%;
    margin: 0 auto;
    padding: 25px 32px 18px;
    text-align: left;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: -2%;
}

.container-main .list-page {
    list-style: none;
    display: flex;
}

.container-main .list-page li:last-child {
    margin-left: 5px;
}

.container-main .list-page li a {
    margin-right: 5px;
    border-right: 1px solid #94bf89;
    padding: 0px 10px 0px 0px;
    color: #94bf89;
    transition: all 0.3s;
}

.container-main h1 {
    color: #fff;
    font-weight: bold;
    font-size: 48px;
}

.table-main .table-main-container .container-table {
    width: 100%;
}

.table-main .table-main-container .container-table .table-product {
    padding: 80px 0px 0px 0px;
}

table {
    width: 100%;
    text-align: center;
    border: 1px solid #dbdbdb;
    text-indent: initial;
    border-spacing: 0;
}


/* --- Thead Table --- */

thead tr,
tbody tr,
tfoot tr {
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.09);
    transition: 0.4s;
}

thead tr th {
    background: #f1f1f1;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: #5a4a3b;
    text-align: left;
    vertical-align: middle;
    padding: 0 30px;
    line-height: 55px;
}


/* --- Tbody Table --- */

tbody tr:hover {
    background-color: rgba(207, 201, 195, 0.4);
}

tbody tr .del {
    font-size: 22px;
}

tbody tr td {
    padding: 20px 30px;
    vertical-align: middle;
    text-align: left;
    font-size: 14px;
    color: #4a4642;
    font-weight: 500;
}


/* --- Tfoot Table --- */

tfoot tr td {
    padding: 32px 28px;
}

tfoot tr td .l-part {
    float: left;
}


/* --- Left Btn --- */

tfoot tr td .l-part .shopping-btn {
    line-height: 42px;
    padding: 0 20px;
    display: block;
    font-weight: bold;
    border: 2px solid #e6e1dd;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #5a4a3b;
    transition: 0.5s;
}

tfoot tr td .l-part .shopping-btn i {
    padding: 0px 0px 0px 10px;
}

tfoot tr td .l-part .shopping-btn:hover {
    background: #549843;
    border-color: #549843;
    color: #fff;
}


/* --- Right Btn --- */

tfoot tr td .r-part {
    float: right;
}

tfoot tr td .r-part .clear-cart-btn,
tfoot tr td .r-part .update-cart-btn:hover {
    background: #549843;
    border: 2px solid #549843;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 42px;
    margin: 0 3px;
    padding: 0 20px;
    transition: 0.5s;
}

tfoot tr td .r-part .update-cart-btn,
tfoot tr td .r-part .clear-cart-btn:hover {
    background: transparent;
    border: 2px solid #e6e1dd;
    color: #5a4a3b;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 42px;
    margin: 0 3px;
    padding: 0 20px;
    transition: 0.5s;
}

tfoot tr td .r-part .clear-cart-btn i {
    margin-right: 10px;
}

tfoot tr td .r-part .update-cart-btn i {
    padding-right: 10px;
    font-size: 11px;
}


/* --- Caupon --- */

.caupon {
    width: 100%;
    background: #d9d5d2;
    padding: 30px 40px 25px;
    margin-bottom: 44px;
}

.caupon label {
    font-size: 24px;
    color: #5a4a3b;
    text-transform: capitalize;
    font-weight: bold;
    margin: 0;
    line-height: 52px;
}

.caupon input {
    outline: none;
    margin: 0 18px;
    line-height: 46px;
    border: 3px solid #fff;
    background: none;
    padding: 0 15px;
    width: calc(100% - 462px);
}

.caupon .caupon-btn {
    padding: 0 80px;
    background: #5a4a3b;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 46px;
    border: 3px solid transparent;
    transition: 0.5s;
}

.caupon .caupon-btn:hover {
    background: #549843;
}


/* --- Information --- */

.inf {
    display: flex;
    margin: 0px -15px 100px -15px;
}


/* --- Item Left --- */

.inf .shopping-tax {
    width: 60%;
    padding: 15px;
}

.inf .shopping-tax .tax-box {
    width: 100%;
    text-align: left;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.09);
    border: 1px solid #dbdbdb;
}

.inf .shopping-tax .tax-box .tit {
    color: #5a4a3b;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 22px 36px;
    width: 100%;
    line-height: 15px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.09);
}

.inf .shopping-tax .tax-box .box-inner {
    padding: 25px;
}

.inf .shopping-tax .tax-box .box-inner p {
    font-size: 14px;
    color: #4a4642;
    font-weight: 500;
    margin-bottom: 22px;
}

.inf .shopping-tax .tax-box .box-inner label {
    color: #4a4642;
    font-weight: 500;
    font-size: 13px;
    margin: 0 0 8px 0;
    display: block;
    line-height: 13px;
}

.inf .shopping-tax .tax-box .box-inner label sup {
    font-size: 12px;
    padding: 3px;
    color: red;
}

.inf .shopping-tax .tax-box .box-inner select,
.inf .shopping-tax .tax-box .box-inner input {
    height: 35px;
    outline: none;
    border: 1px solid #dbdbdb;
    padding: 0 12px;
    font-size: 12px;
    color: #4a4642;
    width: 100%;
    margin-bottom: 25px;
}

.inf .shopping-tax .tax-box .box-inner .write {
    height: 42px;
    line-height: 38px;
    border: 2px solid #e6e1dd;
    padding: 0 20px;
    color: #5a4a3b;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
    transition: 0.3s;
}

.inf .shopping-tax .tax-box .box-inner .write:hover {
    color: #fff;
    background: #5a4a3b;
    border-color: #5a4a3b;
}

.inf .shopping-tax .tax-box .box-inner .write i {
    margin-right: 10px;
}


/* --- Item Right --- */

.inf .cart-total {
    width: 40%;
    padding: 15px;
}

.inf .cart-total .total-box {
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.09);
    width: 100%;
    border: 1px solid #dbdbdb;
}

.inf .cart-total .total-box .tit {
    color: #5a4a3b;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 22px 36px;
    width: 100%;
    line-height: 15px;
    border-bottom: 1px solid #dbdbdb;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.09);
}

.inf .cart-total .total-box .total-box-inner {
    background: #e3dfdc;
    width: 100%;
    padding: 34px;
}

.inf .cart-total .total-box .total-box-inner .sub-total {
    color: #4a4642;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    padding-bottom: 20px;
    font-weight: 500;
}

.inf .cart-total .total-box .total-box-inner .price {
    float: right;
}

.inf .cart-total .total-box .total-box-inner .grand-total {
    color: #4a4642;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    padding-bottom: 40px;
}

.inf .cart-total .total-box .total-box-inner .checkout-btn {
    line-height: 56px;
    width: 100%;
    display: inline-block;
    background: #549843;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 0 5px;
    transition: 0.3s;
}

.inf .cart-total .total-box .total-box-inner .checkout-btn i {
    margin-right: 15px;
}

.inf .cart-total .total-box .total-box-inner .checkout-btn:hover {
    background: #5a4a3b;
}


/* ------ End Form ------ */


/* ====== RESPONSIVE ====== */


/* ------- Mobile: width < 768px ------ */

@media only screen and (max-width: 767px) {
    /* ------ Begin Nav ------ */
    nav {
        padding-bottom: 30px;
        margin-bottom: 20px;
    }
    .nav-pc {
        width: 90%;
        margin: 0 auto;
        height: 180px;
        position: relative;
        margin-top: 15%;
    }
    .nav-pc .logo {
        width: 100%;
        padding-bottom: 40px;
        position: unset;
    }
    .nav-pc .logo .img-logo {
        padding-top: 10px;
    }
    .logo .amount {
        text-align: center;
        font-weight: bold;
        width: 24px;
        height: 24px;
        background: #928a83;
        border-radius: 50%;
        color: #fff;
        line-height: 24px;
        font-size: 11px;
        font-weight: 600;
        position: absolute;
        top: -5px;
        right: 5px;
    }
    .logo .icon-nav {
        position: absolute;
        top: 10px;
    }
    .logo .item-left {
        position: absolute;
        top: 30px;
        left: 0;
    }
    .logo .item {
        margin-right: 0;
    }
    .logo .icon-nav {
        width: 100%;
        top: 120px;
        height: 40px;
    }
    .logo .item-left {
        position: absolute;
        bottom: -20px;
    }
    .logo .item-right {
        position: absolute;
        top: 30px;
        display: flex;
        right: 17%;
    }
    /* --- End Nav --- */
    /* ----------------------*/
    /* --- Begin Table Main  --- */
    .table-main .table-main-container .container-main {
        padding: 15px 15px 10px;
        top: 0;
    }
    .table-main .table-main-container .container-main h1 {
        font-size: 34px;
    }
    .table-main {
        width: 93%;
        padding: 60px 0px 0px 0px;
        position: relative;
        margin: 0 auto;
    }
    table {
        width: 100%;
        text-align: center;
        border: 1px solid #dbdbdb;
        text-indent: initial;
        border-spacing: 0;
    }
    .table-main .table-main-container .container-table {
        padding-bottom: 400px;
    }
    .table-main .table-main-container .container-table .table-product {
        overflow-x: auto;
    }
    /* --- Thead Table --- */
    thead tr th {
        background: #f1f1f1;
        font-size: 11px;
        padding: 0 30px 0 20px;
        line-height: 20px;
    }
    /* --- Tbody Table --- */
    tbody tr td {
        padding: 20px 15px;
        font-size: 13px;
    }
    /* --- Tfoot Table --- */
    tfoot tr td {
        padding: 20px 10px;
    }
    /* --- Left Btn --- */
    tfoot tr td .l-part .shopping-btn {
        line-height: 42px;
        padding: 0 20px;
        display: block;
        font-weight: bold;
        border: 2px solid #e6e1dd;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 700;
        color: #5a4a3b;
        transition: 0.5s;
    }
    tfoot tr td .l-part .shopping-btn i {
        padding: 0px 0px 0px 10px;
    }
    tfoot tr td .l-part .shopping-btn:hover {
        background: #549843;
        border-color: #549843;
        color: #fff;
    }
    /* --- Right Btn --- */
    tfoot tr td .r-part {
        float: right;
    }
    tfoot tr td .r-part .clear-cart-btn,
    tfoot tr td .r-part .update-cart-btn:hover {
        background: #549843;
        border: 2px solid #549843;
        color: #fff;
        font-weight: bold;
        font-size: 13px;
        text-transform: uppercase;
        display: inline-block;
        line-height: 42px;
        margin: 0 3px;
        padding: 0 20px;
        transition: 0.5s;
    }
    tfoot tr td .r-part .update-cart-btn,
    tfoot tr td .r-part .clear-cart-btn:hover {
        background: transparent;
        border: 2px solid #e6e1dd;
        color: #5a4a3b;
        font-weight: bold;
        font-size: 13px;
        text-transform: uppercase;
        display: inline-block;
        line-height: 42px;
        margin: 0 3px;
        padding: 0 20px;
        transition: 0.5s;
    }
    tfoot tr td .r-part .clear-cart-btn i {
        margin-right: 10px;
    }
    tfoot tr td .r-part .update-cart-btn i {
        padding-right: 10px;
        font-size: 11px;
    }
    /* --- Caupon --- */
    .caupon {
        width: 100%;
        background: #d9d5d2;
        padding: 30px 40px 25px;
        margin: 30px 0px;
    }
    .caupon label {
        font-size: 24px;
        color: #5a4a3b;
        margin: 0;
        text-align: center;
        line-height: 20px;
    }
    .caupon input {
        outline: none;
        margin: 0 18px;
        line-height: 40px;
        width: 100%;
        margin: 20px 0px;
    }
    .caupon .caupon-btn {
        width: 100%;
        padding: 0 40px;
        font-size: 14px;
        font-weight: 700;
        line-height: 40px;
        transition: 0.5s;
    }
    /* --- Information --- */
    .inf {
        display: unset;
        margin-left: -15px;
        margin-right: -15px;
    }
    /* --- Item Left --- */
    .inf .shopping-tax {
        width: 100%;
        padding: 0;
    }
    .inf .shopping-tax .tax-box .tit {
        font-size: 13px;
        padding: 15px;
    }
    .inf .shopping-tax .tax-box .box-inner {
        padding: 15px;
    }
    .inf .shopping-tax .tax-box .box-inner p {
        font-size: 13px;
        margin-bottom: 22px;
    }
    /* --- Item Right --- */
    .inf .cart-total {
        width: 100%;
        padding: 0;
        margin: 20px 0px;
    }
    .inf .cart-total .total-box .tit {
        font-size: 13px;
        padding: 15px;
        line-height: 15px;
    }
    .inf .cart-total .total-box .total-box-inner {
        background: #e3dfdc;
        width: 100%;
        padding: 15px;
    }
    .inf .cart-total .total-box .total-box-inner .sub-total {
        color: #4a4642;
        font-size: 14px;
        line-height: 14px;
        padding-bottom: 20px;
    }
    .inf .cart-total .total-box .total-box-inner .grand-total {
        font-size: 16px;
        line-height: 18px;
        padding-bottom: 40px;
    }
    .inf .cart-total .total-box .total-box-inner .checkout-btn {
        line-height: 45px;
        width: 100%;
        font-size: 15px;
        width: 100%;
    }
    .inf .cart-total .total-box .total-box-inner .checkout-btn i {
        margin-right: 14px;
    }
}


/* ------- Tablet: width >= 740px and width < 1024 ------ */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* ------ Begin Nav ------ */
    nav {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .nav-pc {
        height: 150px;
    }
    /* .nav-pc .logo {} */
    .nav-pc .logo .img-logo {
        width: 120px;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateX(0);
    }
    .nav-pc .logo .icon-nav {
        position: absolute;
        top: 0;
        right: 0;
        height: 40px;
    }
    .logo .amount {
        text-align: center;
        font-weight: bold;
        width: 24px;
        height: 24px;
        background: #928a83;
        border-radius: 50%;
        color: #fff;
        line-height: 24px;
        font-size: 11px;
        font-weight: 600;
        position: absolute;
        top: -5px;
        right: 5px;
    }
    .logo .item {
        margin-right: 0;
    }
    .logo .item-left {
        position: absolute;
        top: 30px;
        left: -210px;
    }
    .logo .item-right {
        position: absolute;
        display: flex;
        right: 30%;
        margin-right: 30px;
    }
    /* --- End Nav --- */
    /* ----------------------*/
    /* --- Begin Table Main  --- */
    .table-main .table-main-container .container-main {
        padding: 25px 32px 18px;
        top: -1%;
    }
    .table-main .table-main-container .container-table .table-product {
        padding: 30px 0px 0px 0px;
    }
    .table-main .table-main-container .container-main h1 {
        font-size: 48px;
        line-height: 42px;
        margin: 10px 0px;
    }
    .table-main {
        width: 95%;
        padding: 130px 0px 200px 0px;
        position: relative;
        margin: 0 auto;
    }
    /* --- Thead Table --- */
    thead tr th {
        background: #f1f1f1;
        font-size: 12px;
        padding: 0 15px;
        line-height: 30px;
    }
    /* --- Tbody Table --- */
    tbody tr td {
        padding: 10px 15px;
        vertical-align: middle;
        font-size: 14px;
    }
    tbody tr .product-img {
        width: 20%;
    }
    tbody tr .product-img img {
        width: 100%;
    }
    /* --- Tfoot Table --- */
    tfoot tr td {
        padding: 20px 15px;
    }
    /* --- Left Btn --- */
    tfoot tr td .l-part .shopping-btn {
        line-height: 40px;
    }
    /* --- Right Btn --- */
    tfoot tr td .r-part .clear-cart-btn,
    tfoot tr td .r-part .update-cart-btn:hover {
        line-height: 40px;
    }
    tfoot tr td .r-part .update-cart-btn,
    tfoot tr td .r-part .clear-cart-btn:hover {
        line-height: 40px;
    }
    /* --- Caupon --- */
    .caupon {
        width: 100%;
        background: #d9d5d2;
        padding: 20px 40px 20px;
        margin-bottom: 40px;
    }
    /* --- Information --- */
    .inf {
        display: flex;
        margin-left: -15px;
        margin-right: -15px;
    }
    /* --- Item Left --- */
    .inf .shopping-tax {
        width: 60%;
        padding: 15px;
    }
    .inf .shopping-tax .tax-box .tit {
        padding: 22px 20px;
        width: 100%;
    }
    .inf .shopping-tax .tax-box .box-inner {
        padding: 20px;
    }
    .inf .shopping-tax .tax-box .box-inner p {
        font-size: 14px;
        color: #4a4642;
        font-weight: 500;
        margin-bottom: 22px;
    }
    .inf .shopping-tax .tax-box .box-inner select,
    .inf .shopping-tax .tax-box .box-inner input {
        height: 40px;
    }
    .inf .shopping-tax .tax-box .box-inner .write {
        height: 40px;
        line-height: 35px;
    }
    /* --- Item Right --- */
    .inf .cart-total {
        width: 40%;
        padding: 15px;
    }
    .inf .cart-total .total-box .tit {
        padding: 22px 20px;
        width: 100%;
    }
    .inf .cart-total .total-box .total-box-inner {
        background: #e3dfdc;
        width: 100%;
        padding: 35px 20px;
    }
    .inf .cart-total .total-box .total-box-inner .sub-total {
        font-size: 15px;
    }
    .inf .cart-total .total-box .total-box-inner .grand-total {
        color: #4a4642;
        font-size: 18px;
        padding: 10px 0px 40px;
    }
    .inf .cart-total .total-box .total-box-inner .checkout-btn {
        line-height: 50px;
        font-size: 13px;
    }
    .inf .cart-total .total-box .total-box-inner .checkout-btn i {
        margin-right: 10px;
    }
    /* --- End Table Main --- */
    /* --- End Brands --- */
}


/* ------- Pc: width >= 1024px ------ */


/* @media only screen and (min-width: 1024px) {} */